config wfb-gs 'config'
        option channel '161'
        option bandwidth '20'
        option ip_gs '224.0.0.1'
        option ip_pc '192.168.1.2'
        option wiphy_index ''
        option mode 'unicast'
        option stream_video '0'
        option stream_telemetry '16'
        option port_video '5600'
        option port_telemetry '14550'
        option keydir '/etc'
        option unit 'gs'
        option link_id '7669206'
